.hero-image-one {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/index-hero-image-one.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1300px;
    height: 500px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
}

.hero-text-one {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 1200px;
}

.hero-text-one h1 {
  font-size: 55px;
}

.hero-text-one p {
  font-size: 30px;
}

.first-hero-button {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  border-color: red;
  border-radius: 20px;
}

.first-hero-button {
  font-size: 20px;
  color: #6e75f9;
}

.home-page-events-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}